/*Reglas
selectores
declaraciones
propiedades*/


/*body{

background-color: pink ;

}
/*Selector de etiquieta  header - section - article - nav
header{

    background-color: purple ;
    
    } */
/*Selector descendente*/
/*body header div nav ol li a*/
/*Selector de clase  .link-*/
/*Slector id -> #portafolio*/ 
@font-face {
  font-family: "icomoon";
  src:  url("../fonts/icomoon.eot?bqb2fe");
  src:  url("../fonts/icomoon.eot?bqb2fe#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?bqb2fe") format("truetype"),
    url("../fonts/icomoon.woff?bqb2fe") format("woff"),
    url("../fonts/icomoon.svg?bqb2fe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
  
}
.icon-instagram:before {
  content: "\ea92";
  color: white;
  
  padding: 2px;
 
  font-size: 2.8em;
  margin: 0 10px;
  display: inline-flex;

  
}
.icon-github:before {
  content: "\eab0";
  color: white;
  
  padding: 2px;
 
  font-size: 2.8em;
  margin: 0 10px;
  display: inline-flex;

}
.icon-facebook2:before {
  content: "\ea91";
  color: white;
  
  padding: 2px;
 
  font-size: 2.8em;
  margin: 0 10px;
  display: inline-flex;

}
.icon-linkedin:before {
  content: "\eac9";
  color: white;
 
  padding: 2px;
 
  font-size: 2.8em;
  margin: 0 10px;
  display: inline-flex;

}

/* .social-link{
  display: inline-flex;
  width:50px;
  height:50px;
  margin: 0 10px;
} */


figure {
    margin: 0;
  }

body{
    font-family: 'Source Sans Pro', sans-serif;
        background-color: white ;
        color:black;
        margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header{

    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 153px;
    flex-wrap: wrap;
}
.header ol{

    display: flex;
    height: inherit;
}
.header ol li{

    height: inherit;
}

h1,h2,h3,h4,h5,h6{
          font-family: 'Fjalla One',sans-serif;
          font-weight: 400;
          font-style: italic;
}

        h1{
            font-size: 40px;
            line-height: 1.5em;
            letter-spacing: -.2px;
            text-transform: capitalize;
            color: white;
            /*margin: top right bottom left*/
            /*margin: 100px 500px 40px 5px;*/
            margin: 0;
        }

.portfolio{
    background:#fafafa;
    padding: 20px;
}

.project-course,
.project-date,
.project-url{
  margin: 10px 0;
}
/*
.project-date{
  margin:10px 0;
}*/

.project strong{
  font-family: 'Fjalla One',sans-serif;
}
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
  
}
.project-description{
  font-size: 20px;
  font-family: 'Fjalla One',sans-serif;
}

.project{
  background: white;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.project-details{
   width: 50%;
    
}
.project-imageContainer{
  width: 50%;
}

.project-imageContainer img{
  max-width: 100%;
}

h1 strong{
color: #026fff;

}
h2{
    color: #026fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 24px;
}
.hero{
   
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero-image{
    object-fit: cover;
  }

  figure {
    margin: 0;
  }

/* Selector descendente*/
.header a {
    color: white;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header ol {
    display: flex;
  }

/*display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
flex-direction: row;

    width: 30px;
    height: 30px;
    border: 1px solid red;
    margin:10px ;
    flex-shrink: 0;*/

.menu { /* .menu hereda de .header */
 height: inherit;
 }
      
.header ol { /* .header ol hereda de .menu */
 display: flex;
 height: inherit;
}
      
.header ol li { /* .header ol li hereda de .header ol */
  height: inherit;
}
      
.header a { /* .header a hereda de .header ol li */
  color: white;
  text-decoration: none;
  height: inherit;
  justify-content: space-between;
}
   
.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;

  flex-shrink: 0;
}

.footer{
    background-color: #1b2127;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer img{
vertical-align: middle;

}
.footer a{
    color: #fafafa;
}

.event-image{
  width: 480px;
  height: 210px;
  object-fit: cover;
  
}
.event-list-title{
margin-left: 10px;
}

.event-list{
display: flex;
flex-wrap: wrap;
}
.event{
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
  background: #fafafa;
}
.event-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description{

  text-align: left;
}
.event-url{
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px;
}
.contacto{
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social{
  
}

/* 
.social-link{
  display: inline-flex;
  width:50px;
  height:50px;
  margin: 0 10px;
} */
/* .social-link.twitter{
  background-image: url("../Images/twitter.svg");
  background-size: 50px 50px;
} */


/* .social-link.facebook{
  background-image: url("../Images/facebook.svg"); 
  background-size: 50px 50px;
} */

/* .social-link.github{
  background-image: url("../Images/github.svg");
  background-size: 50px 50px;
} */

/* .social-link.instagram{
  background-image: url("../Images/instagram.svg");
  background-size: 50px 50px;
} */


.form-email input{
border-color: gray;
padding: 10px 20px 10px 25px;
border-radius: 5px;
}

.form-email button{
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  /*margin: 10px auto 0*/
}

.form-email h3{
  font-family: 'Fjalla One',sans-serif;
}

.container {
 /*border: 1px solid red;*/
  max-width: 1000px;
  /*width: 100%;*/
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button{
width: 40px;
height: 40px;
border-radius: 50%;
background: rgba(0, 0, 0, .8);
display: none;
line-height: 40px;
text-align: center;
position: fixed;
z-index: 4;
top: 5px;
left: 5px;
color: white;

}

@media screen and (max-width:1023px){
 
.event-list-title{
  margin-left: 0;
}
 .project-details {
  font-size: 16px;
}
 .container{
   padding: 0 1em;
 }
 .hero{
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 2em;
}
.hero-image{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
h1{
  font-size: 2em;
  z-index: 2;
}
.html-video{
  width: 100%;
/*   max-width: 100%; */
height: auto;
}
.youtube-video{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flexible-video {
  width: 100%;
  height: 0;
  padding-top: 58.25%;
  background: blue;
  position: relative;
}

}
@media screen and (max-width:767px){
.burger-button{
  display: block;
}

.header{
  display: block;
  height: auto;
}
.header ol{
  display: block;
}
.header ol li{
  height: 50px;
}
.header a {
  justify-content: center;
  height: 40px;
  font-size: 2em;
  text-decoration: underline;
  margin-bottom: .5em;
}
.header .logo{
text-align: center;
}

.menu{
  position: fixed;
  background:rgba(5, 111, 255, .9);
  z-index: 3;
  top: 0;
  left: -100vw;
  width: 100vw;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.menu.is-active{
  left: 0;
}

.project{
  display: block;
}
.project-imageContainer {
  width: auto;
  text-align: center;
}
.project-details {
  width: auto;
   font-size: 18px; 
}
.project-course, .project-date, .project-url { 
  margin: .3em 0;
}
.project-title {
  font-size: 1.5em;
  margin-bottom: .3em;
}
.project-url {
  font-size: 1em;

} 
.project-course {
  font-size: .7em;

}
.project-date {
  font-size: 1em;

}
.project-description {
  font-size: 1.1em;

}
.event{
  width:100%;
  flex-shrink: initial;
}
.event img{
  width: 100%;
}
/*h1{
  font-size: 1.5em;
  background: rgba(0, 0, 0, .5);
  justify-content: center;
}*/


}
@media screen and (max-width:480px){
 
   h1{
     font-size: 1.5em;
     background: rgba(0, 0, 0, .5);
   }
   h2 {
    font-size: 1.2em;
    margin: .5em 0;
  }
   .project-details {
    font-size: 12px;
  }

  .event-detail {
    /* 1em = 16px */
    margin: -2em .5em .5em;
    padding: 1em;
  }
.contacto{
  height: auto;
  padding: 1.5em 0;
  text-align: center;
  display: block;
}
.form-email button{
  margin: 1em auto;
}
.form-email h3{
  margin-top: 0;
}
.footer{
  display: block;
  text-align: center;
  border: 1px solid transparent;
}

}
@media screen and (max-width:320px){
 
   h1{
     font-size: 1em;
     background: rgba(0, 0, 0, .5);
   }
   .hero{
     padding: 2em 1em;
   }
  /*  .icon-instagram,
   .icon-facebook,
   .icon-github,
   .icon-twitter{
    width:35px;
    height:35px;
    background-size: 40px;
    
   } */
}